.textType {
  display: inline-block;
  white-space: pre-wrap;
}

.cursor {
  margin-left: 0.15rem;
  display: inline-block;
  opacity: 1;
  animation: textTypeBlink 0.5s ease-in-out infinite alternate;
}

.cursorHidden {
  display: none;
}

@keyframes textTypeBlink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
